{{ define "main" }}
<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      {{- if ne false .Params.sidebar -}}
      <div class="column is-3">
        {{ partial "menu" . }}
      </div>
      {{- end -}}
      <div class="column">
        <div class="content" data-wordcount="{{.WordCount}}">
          {{ .Content }}
        </div>
      </div>
      {{ if and (gt .WordCount 400) (ne .Params.toc false) }}
      <div class="column is-narrow">
        {{ .TableOfContents }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}