{{- $style := .Site.Params.navbar.style -}}
{{- $blogType := default "post" .Site.Params.blog_type -}}
<nav class="navbar is-fixed-top{{with $style}} {{.}}{{end}}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{ partial "brand.html" . }}
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      {{ range where .Site.Sections "Type" "ne" $blogType }}
      <a {{with .URL}}href="{{.}}"{{end}} class="navbar-item">{{ .Name }}</a>
      {{ end }}
      {{ range where .Site.Sections "Type" "eq" $blogType }}
      <a {{with .URL}}href="{{.}}"{{end}} class="navbar-item">{{ .Name }}</a>
      {{ end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>