{{- $style := .Site.Params.landingpage.style -}}
<section class="hero {{with $style}}{{.}}{{end}}">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <h1 class="title is-1" style="margin-top: 4.8rem;">
            <span class="icon">
              <i class="fas fa-feather-alt fa-4x"></i>
            </span>
          </h1>
          <h1 class="title is-1">
            <p>{{ .Site.Title }}</p>
          </h1>
          {{- with .Site.Params.landingpage.subtitle -}}
          <h2 class="subtitle is-3">
            {{ . }}
          </h2>
          {{- end -}}
          {{ if .Site.Params.landingpage.start }}
          {{- $startPage := .Site.GetPage .Site.Params.landingpage.start -}}
          {{ with $startPage }}
          <div class="field is-grouped is-grouped-centered">
            <p class="control">
              <a href="{{.RelPermalink}}" class="button is-primary is-inverted is-large">{{ i18n "start" }}</a>
            </p>
          </div>
          {{ end }}{{/* with */}}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>