<section class="section">
  <div class="container">
    {{- $pg := $.Paginator -}}
    {{- $scr := $.Scratch -}}
    {{ if gt $pg.TotalPages 1 }}
    <nav class="pagination is-centered">
      <a href="{{with $pg.Prev}}{{.URL}}{{end}}" class="pagination-previous" {{if not $pg.HasPrev}}disabled{{end}}>{{ i18n "prev" }}</a>
      <a href="{{with $pg.Next}}{{.URL}}{{end}}" class="pagination-next" {{if not $pg.HasNext}}disabled{{end}}>{{ i18n "next" }}</a>
      <ul class="pagination-list">
        {{- $scr.Set "paginator.show" "number" -}}
        {{ range $pg.Pagers }}
        {{- $paginatorShow := $scr.Get "paginator.show" -}}
        {{- if eq "number" $paginatorShow -}}
        <li>
          <a href="{{.URL}}" class="pagination-link {{if eq . $pg}}is-current{{end}}">{{ .PageNumber }}</a>
        </li>
        {{- else if eq "ellipsis" $paginatorShow -}}
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        {{- end -}}
        {{- end -}}{{/* range */}}
      </ul>
    </nav>
    {{ end }}
  </div>
</section>
